In [3]:
# Import libraries
import pandas as pd

# Load the dataset
file_path = 'Stores - Stores.csv'  # Update with the actual path
data = pd.read_csv(file_path)

# Display the first few rows to understand the structure
data.head()

   Store ID  Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0         1        1659             1961                   530        66490
1         2        1461             1752                   210        39820
2         3        1340             1609                   720        54010
3         4        1451             1748                   620        53730
4         5        1770             2111                   450        46620

In [4]:
# Display summary statistics for the dataset
summary_statistics = data.describe()

# Display the summary statistics
summary_statistics

,Store ID,Store_Area,Items_Available,Daily_Customer_Count,Store_Sales
count,896.000000,896.000000,896.000000,896.000000,896.000000
mean,448.500000,1485.409598,1782.035714,786.350446,59351.305804
std,258.797218,250.237011,299.872053,265.389281,17190.741895
min,1.000000,775.000000,932.000000,10.000000,14920.000000
25%,224.750000,1316.750000,1575.500000,600.000000,46530.000000
50%,448.500000,1477.000000,1773.500000,780.000000,58605.000000
75%,672.250000,1653.500000,1982.750000,970.000000,71872.500000
max,896.000000,2229.000000,2667.000000,1560.000000,116320.000000